<!DOCTYPE html>
<html>
    <head>
        <title>GoRoad</title>
    </head>
      <body>
            <div data-role="page" id="cto">
              <div class="ui-content" role="main">
                <!-- CTO Section   -->
              <div class="">
                <div class="ui-grid-solo div-space">
                    <div class="ui-block-a">
                      <h4>Vessel Booking</h4>
                    </div>
                </div>
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Exporter: </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="Exporter" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Client Ref : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="ClientRef" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Container Operator : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="ContainerOperator" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Vessel Name : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="VesselName" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Voyage Number : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="VoyageNumber" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Port of Loading : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="PortOfLoading" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Port of Discharge : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="PortOfDischarge" value="" readonly>
                  </div>
                </div>
                <!-- Container Settings section -->
                <div class="ui-grid-solo div-space">
                    <div class="ui-block-a">
                      <h4>Container Settings </h4>
                    </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt="">  Container Size : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="containerSize" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt=""> Commodity : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="Commodity" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt=""> Temperature Code : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="temperateCode" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt=""> Temperature Description : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="temperateSetting" value="" readonly>
                  </div>
                </div>
                <!--  -->
                <div class="ui-grid-a div-space">
                  <div class="ui-block-a">
                    <p><img src="../images/icons-png/info-black.png" alt=""> Vent Settings : </p>
                  </div>
                  <div class="ui-block-b">
                    <input class="input-book" type="text" id="VentSettings" value="" readonly>
                  </div>
                </div>
                <!-- Container Settings section -->
              </div>
                <!-- CTO Section End  -->
                <a style="width:90%" href="booking.html" data-role="button" class="pop-up-btn" data-rel="back" data-inline="true">Close</a>
              <button class="sendCmt" type="button" id="sendCto" name="button">Email CTO</button>
            </div>
          </div>
    </body>
</html>
