 <!DOCTYPE html>
<html>
    <head>
        <title>GoRoad</title>
    </head>
    <body>
            <div data-role="page" id="login">
              <div data-role="content">
                  <div class="hideMyIndex">
                    <label style="color:black !important;margin-top:46% !important" for="basic"><img src="../images/icons-png/phone-black.png">  Phone Number:</label>
                    <input type="number" name="name" id="username" value="" />
                    <br />
                    <label style="color:black !important" for="basic"><img src="../images/icons-png/lock-black.png"> Password:</label>
                    <input type="password" style="margin-bottom:-1%" name="name" id="password" value="" />
                    <br />
                    <button  id="signIn" style="margin-top:9%" class="cust-btn">Login</button>
                    <!-- <input type="button" class="cust-btn" id="signin" style="margin-top:9%" name="" value="Login">
                    <input type="button" class="cust-btn" id="loginNow" style="margin-top:9%" name="" value="Login">
                    <input type="button" class="cust-btn" id="goIn" style="margin-top:9%" name="" value="goIn"> -->
                    <br />
                </div>
          </div>
        </div>
    </body>
</html>
